<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="./style.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="text-center text-6xl font-black text-green-900 bg-blue-200"><%= title %></h1>
    </header>

    <div role="main" class="text-center">
        <p class="my-10"><%= content %></p>
        <table class="table">
            <tr>
                <th>伝言です！</th>
            </tr>
            <tr>
                <td><%= data.msg %></td>
            </tr>
        </table>
        <p>your last message:<%= cookie_data %></p>
        <form action="/" class="my-10" method="POST">
            <div class="form-group">
                <label for="msg" >MESSAGE</label>
                <input type="text" name="msg" id="msg" class="border-opacity-10 shadow py-2 bg-white-200 py-2">
            </div>
            <input type="submit" value="送信" class="bg-indigo-700 font-semibold text-white py-2 px-4 rounded hover:bg-red-500 border-opacity-10 shadow">
        </form>
    </div>


    <div class="text-center">
        <table class="table">
            <% var id = 0; %>
            <% for (var key in data) { %>
            <%- include("data_item" ,{
                id: ++id,
                key: key,
                val: [data[key]]}) %>
            <% } %>
        </table>
    </div>
</body>
</html>